@font-face {
  font-family: "TI";
  src: url(./ti-1.ttf) format("truetype");
}
body {
  color: black;
  font-family: "TI", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #40f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 0;
}
