@font-face {
  font-family: "TI";
  src: url(./ti-1.ttf) format("truetype");
}
body {
  font-family: "TI", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--ti-shellBg);
  color: var(--ti-textPrimary);
}

.app {
  text-align: center;
  min-height: 100vh;
}
