@font-face {
  font-family: "TI";
  src: url(./ti-1.ttf) format("truetype");
}
body {
  color: #e0e0e0;
  font-family: "TI", sans-serif;
  margin: 0;
  padding: 0;
  background: #1a1a2e;
}

.app {
  text-align: center;
  min-height: 100vh;
}
